<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href=<%= asset_url('logo.png') %>>
    <title>Drive or Flight</title>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  </head>
  <%= render 'layouts/header' %>
  <body style="padding:60px 8% 0px;">
    <script>rainbowWorm();</script>
    <div class="jumbotron" style="padding-top:20px;border-radius: 25px;">
      <center>
        <%= yield %>
      </center>
    </div>
  </body>
  <p class="link">
    <b>
      <a class="one" href="/error.json" target="_blank">Whoa!</a>
    </b>
  </p>
  <p align="center" style="margin-bottom:40px;color:white;font-size:10px">© 2015 All Rights Reserved.</p>
  <%= render 'layouts/footer' %>
</html>
